// ::ng-deep .card-body{
//     margin-left: 13%;

// }

.btn{
    cursor: pointer;
    background: linear-gradient(40deg, #45cafc, #303f9f) ;
    color:  #212529;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  }
