<div class="containerWrap" style="margin-top:10px;margin-bottom:10px;text-align: right" *ngIf="passwordExpired == 'true'">
   <button nbButton class="fa fa-sign-out btn" (click)="logout()">Logout</button>
</div>

   <div class="containerWrap">
         <ngb-alert type="danger" *ngIf="errorMessage" (close)="errorMessage = null">{{errorMessage}}
         </ngb-alert>
        <ngb-alert type="success" *ngIf="responseMessage" (close)="responseMessage = null">{{responseMessage}}
         </ngb-alert>
   </div>
   <form  [formGroup]="changePasswordForm">
      <ba-card>
         <div class="row">
            <div class="col-md-6" >
               <div class="row">
                  <div class="col-md-12">
                     <div class="form-group row required" >
                        <label for="billConfig" class=" col-md-4 form-control-label" translate="">{{'password.oldPassword' | translate}}</label>
                        <div class="col-md-6">
                           <input  nbInput fullWidth shape="rectangle"  appTrimOnBlur type="password" autocomplete="password" class="form-control" formControlName="oldPassword">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="form-group row required ">
                        <label for="billConfig" class=" col-md-4 form-control-label" translate="">{{'password.newPassword'|translate}} </label>
                        <div class="col-md-6">
                           <input  nbInput fullWidth shape="rectangle"  appTrimOnBlur  [type]="showButton ? 'text' : 'password'"class="form-control" pattern="{{passwordRegex}}" formControlName="newPassword" maxlength="16" minlength="8">
                           <i [ngClass]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                            style="position: absolute;right: 20px;top:10px;cursor: pointer; z-index: 100;"
                            (click)="showPassword('newPassword')"></i>
                           <span >
                           <small  *ngIf="(f.newPassword.dirty || f.newPassword.touched ) && f.newPassword.invalid && f.newPassword.errors?.pattern" class="form-text error" translate>{{'password.isInvalid'|translate}}</small>
                           <!-- <small class="form-text error"  *ngIf="f.newPassword.errors?.minlength && f.newPassword.touched">{{'password.minlength'|translate}}</small> -->
                          </span> 
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="form-group row required ">
                        <label for="billConfig" class=" col-md-4 form-control-label" translate="">{{'password.confirmPassword'|translate}}</label>
                        <div class="col-md-6">
                           <input  nbInput fullWidth shape="rectangle"  appTrimOnBlur id="billConfig" [type]="showButtonConfirm ? 'text' : 'password'" class="form-control" pattern="{{passwordRegex}}" formControlName="conNewPassword" maxlength="16" minlength="8">
                           <i [ngClass]="showEyeConfirm ? 'fa fa-eye' : 'fa fa-eye-slash'"
                           style="position: absolute;right: 20px;top:10px;cursor: pointer; z-index: 100;"
                           (click)="showPassword('conNewPassword')"></i>
                           <span >
                           <small  *ngIf="(f.conNewPassword.dirty || f.conNewPassword.touched ) && f.conNewPassword.invalid && f.conNewPassword.errors?.pattern" class="form-text error" translate>{{'password.isInvalid'|translate}}</small>
                           <!-- <small class="form-text error"  *ngIf="f.conNewPassword.errors?.minlength && f.conNewPassword.touched">{{'password.minlength'|translate}}</small> -->
                        </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
                  <div class="form-group required ">
                      <div style="
                      margin-bottom: 5px;
                      font-weight: 600;
                  ">{{'password.passwordContain'|translate}}</div>
                      <ul style="
                      margin-left: 18px;"><li *ngFor="let message of messages">{{message}}</li></ul></div>
                  </div>
         </div>
         <br>
         <div class="row" >
            <div class="col-md-6 text-center">
               <button nbButton status="danger"  type="button"  class="btn btn-inverse" (click)="resetPage()" translate="">{{'password.reset'|translate}}</button>
               <button nbButton status="info"  type="submit" class=" btn btn-primary"  (click)="changePassword()" [disabled]="!changePasswordForm.valid
               " translate="">{{'password.change'|translate}} </button>
            </div>
         </div>
      </ba-card>
   </form>