<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h1 id="title" class="title">
          <img _ngcontent-aes-c2="" src="../../../../../assets/images/payprLoginLogo.png" alt="PAYPR">
        </h1>
      </nb-card-header>
      <nb-card-body>
        <div class="containerLogin">
          <div class="auth-block">
      <form class="loginForm" [formGroup]="forgotPassword">
        <div class="language" *ngIf="showLangButtons">
          <a id="en" style="cursor:pointer;" (click)="setLang('en')"
            [ngClass]="selectedLang=='en'?'active':''">{{'forgotPassword.english'|translate}}</a>
          <a id="vi" style="cursor:pointer;" (click)="setLang('fr')"
            [ngClass]="selectedLang=='fr'?'active':''">{{'forgotPassword.french'|translate}}</a>
        </div>
        <div *ngIf="showPage=='forgotPassword'" id="formgrouplist">
          <div class="form-group-list">
            <div class="form-group" [ngClass]="setUserNameClass?'active':''">
              <label class="label-control">{{'login.username' | translate}}</label>
              <input appTrimOnBlur nbInput  nbInput fullWidth shape="rectangle" type="text" autocomplete="new-password" (focus)="setClass('userName')"
                (blur)="removeClass('userName')" formControlName="userName" name="username" id="username" size="20"
                class="form-control" />
            </div>
            <div class="error-div">
              <span
                *ngIf="forgotPassword.controls.userName.errors?.required && forgotPassword.controls.userName.touched">
                <small class="form-text error" translate>{{'forgotPassword.usernameRequired'|translate}}</small>
              </span>
            </div>
          </div>
          <div class="form-group-list">
            <div class="form-group mobileGroup" [ngClass]="setFieldClass?'active':''">
              <label class="label-control">{{'forgotPassword.selectField' | translate}}</label>
              <select id="selectedField" nbInput  nbInput fullWidth shape="rectangle" class="form-control input-group-text" formControlName="selectedField"
                (focus)="setClass('selectedField')" (blur)="removeClass('selectedField')">
                <option value="">{{'searchUser.select' | translate}}</option>
                <option *ngFor="let sel of selectData" [value]="sel.keyValue">{{sel.keyName}}
                </option>
              </select>
            </div>
            <div class="error-div">
              <span
                *ngIf="forgotPassword.controls.selectedField.errors?.required && forgotPassword.controls.selectedField.touched">
                <small class="form-text error" translate>{{'forgotPassword.required' | translate}}</small>
              </span>
            </div>
          </div>
          <div class="form-group-list"
            *ngIf="forgotPassword.get('selectedField').value && selectedField == 'mobileNumber' ">
            <div class="form-group" [ngClass]="setMobileNoClass?'active':''"><label
                class="label-control">{{'forgotPassword.mobileNo'|translate}}</label>
              <div class="input-group mb-3 form-control">
                <div class="input-group-prepend mobileGroup">
                  <select class="input-group-text" formControlName="mobileCode">
                    <option [value]="mobile" *ngFor="let mobile of mobileCode">{{mobile}}</option>
                  </select>
                  <input nbInput  nbInput fullWidth shape="rectangle" (keydown.space)="$event.preventDefault();" appTrimOnBlur appNumberOnly
                    formControlName="fieldValue" id="mobile" name="mobile" size="10" type="text"
                    minlength={{mobileMinLength}} maxlength={{mobileMaxLength}} (focus)="setClass('fieldValue')"
                    (blur)="removeClass('fieldValue')">
                </div>
              </div>
            </div>
            <div class="error-div">
              <span
                *ngIf="forgotPassword.controls.fieldValue.errors?.required && forgotPassword.controls.fieldValue.touched">
                <small class="form-text error" translate>{{'forgotPassword.mobileRequired'|translate}}</small>
              </span>
              <span
                *ngIf="(forgotPassword.controls.fieldValue.dirty || forgotPassword.controls.fieldValue.touched ) && forgotPassword.controls.fieldValue.invalid && forgotPassword.controls.fieldValue.errors?.minlength">
                <small class="form-text error" translate>{{'createUser.errors.mobileNo.length'}}</small>
              </span>
              <div *ngIf="responseMessage" class="error-div" [innerHTML]="responseMessage ">
              </div>
            </div>
          </div>
          <div class="form-group-list" *ngIf="forgotPassword.get('selectedField').value && selectedField == 'emailId' ">
            <div class="form-group" [ngClass]="setMobileNoClass ?'active':''">
              <label class="label-control">{{'forgotPassword.emailId'|translate}}</label>
              <input nbInput  nbInput fullWidth shape="rectangle" appTrimOnBlur type="text" appNoSpace maxlength="40" class="form-control"
                formControlName="fieldValue" (focus)="setClass('fieldValue')" (blur)="removeClass('fieldValue')"
                (keydown.space)="$event.preventDefault();">
            </div>
            <div class="error-div">
              <span
                *ngIf="(forgotPassword.controls.fieldValue.dirty || forgotPassword.controls.fieldValue.touched ) && forgotPassword.controls.fieldValue?.invalid && forgotPassword.controls.fieldValue.errors?.required">
                <small class="form-text error" translate>{{'forgotPassword.emailIsRequired'| translate}}</small>
              </span>
              <span
                *ngIf="(forgotPassword.controls.fieldValue.dirty || forgotPassword.controls.fieldValue.touched ) && forgotPassword.controls.fieldValue.invalid && forgotPassword.controls.fieldValue.errors?.pattern">
                <small class="form-text error" translate>{{selectedField}}
                  {{'searchUser.isInvalid'| translate}}</small>
              </span>
              <div *ngIf="responseMessage" class="error-div" [innerHTML]="responseMessage ">
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showPage=='enterOTP'" id="formgrouplist">
          <div class="form-group-list">
            <div class="form-group enterOTPWrap" [ngClass]="setOTPClass?'active':''">
              <label class="label-control">{{'forgotPassword.enterOTP'|translate}}</label>
              <input nbInput  nbInput fullWidth shape="rectangle" appTrimOnBlur type="text" (focus)="setClass('OTP')" (blur)="removeClass('OTP')"
                formControlName="OTP" appNumberOnly maxlength="{{otpMaxLength}}" class="form-control" />
              <div class="actionWrap">
                <small class="timer" translate>{{ timer}}</small>
                <button class="btn" nbButton status="info"  [disabled]="!enableResendOTP" (click)="sendOTP()"
                  translate>{{'forgotPassword.resendOTP'|translate}}</button>
              </div>
            </div>
            <div class="error-div">
              <span>
                <small *ngIf="forgotPassword.controls.OTP.errors?.required && forgotPassword.controls.OTP.touched"
                  class="form-text error" translate>{{'forgotPassword.otpRequired'|translate}}
                </small>
              </span>
            </div>
          </div>
          <div class="form-group-list passwordComboPopWrap">
            <div class="form-group" [ngClass]="setPasswordClass?'active':''">
              <label class="label-control">{{'forgotPassword.password'|translate}}</label>
              <input  nbInput fullWidth shape="rectangle" appTrimOnBlur (keydown.space)="$event.preventDefault();" pattern="{{passwordRegex}}"
                [type]="showButton ? 'text' : 'password'" (focus)="setClass('newPassword')"
                (blur)="removeClass('newPassword')" formControlName="newPassword" name="newPassword" id="newPassword"
                class="form-control" (focus)="show($event)" (focusout)="hide($event)" />
              <i [ngClass]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                style="position: absolute;right: 6px;bottom:8px;cursor: pointer; z-index: 100;"
                (click)="showPassword('password')"></i>

            </div>
            <div class="error-div">
              <span>
                <small
                  *ngIf="forgotPassword.controls.newPassword.errors?.required && forgotPassword.controls.newPassword.touched"
                  class="form-text error" translate>{{'forgotPassword.newPasswordRequired'|translate}}</small>
                <!-- <small  *ngIf="(forgotPassword.controls.newPassword.dirty || forgotPassword.controls.newPassword.touched ) && forgotPassword.controls.newPassword.invalid && forgotPassword.controls.newPassword.errors?.pattern"  class="form-text error" translate>{{'forgotPassword.isInvalid'|translate}}</small> -->
              </span>
            </div>
            <div class="passwordComboPopUp"
              *ngIf="forgotPassword.controls.newPassword.invalid && forgotPassword.controls.newPassword.errors?.pattern">
              <ul>
                <li *ngFor="let message of messages">{{message}}</li>
              </ul>
            </div>
          </div>
          <div class="form-group-list">
            <div class="form-group " [ngClass]="setConfirmPasswordClass?'active':''">
              <label class="label-control">{{'forgotPassword.confirmPassword'|translate}}</label>
              <input  nbInput fullWidth shape="rectangle" appTrimOnBlur (keydown.space)="$event.preventDefault();" pattern="{{passwordRegex}}"
                [type]="showButtonConfirm ? 'text' : 'password'" name="confirmPassword"
                formControlName="confirmPassword" (focus)="setClass('confirmPassword')"
                (blur)="removeClass('confirmPassword')" id="mobile" class="form-control" />
              <i [ngClass]="showEyeConfirm ? 'fa fa-eye' : 'fa fa-eye-slash'"
                style="position: absolute;right: 6px;bottom:8px;cursor: pointer; z-index: 100;"
                (click)="showPassword('confirmPassword')"></i>
            </div>
            <div *ngIf="responseMessage" class="error-div" [innerHTML]="responseMessage ">
            </div>
            <div class="error-div">
              <span>
                <small
                  *ngIf="forgotPassword.controls.confirmPassword.errors?.required && forgotPassword.controls.confirmPassword.touched"
                  class="form-text error" translate>{{'forgotPassword.confirmPasswordRequired'|translate}}</small>
                <small
                  *ngIf="forgotPassword.controls.confirmPassword.touched && forgotPassword.controls.confirmPassword.errors?.pattern"
                  class="form-text error" translate>{{'forgotPassword.isInvalid'|translate}}</small>

              </span>
            </div>
          </div>
        </div>
        <div *ngIf="showPage=='newPassword'">
          <p class="text-center">
            {{'forgotPassword.passwordUpdated'|translate}}<br>{{'forgotPassword.loginAgain'|translate}}</p>
        </div>
        <div id="formgroupbutton">
          <div class="loginBtn">
            <button  nbButton status="info"  *ngIf="showPage=='forgotPassword'" (click)="sendOTP()" type="submit" 
              id="send_otp">{{'forgotPassword.sendOTP'|translate}} </button>
            <button  nbButton status="info"  *ngIf="showPage=='enterOTP'" (click)="submitOTP()" type="submit" 
               > {{'forgotPassword.submit'|translate}}</button>

          </div>
          <div class="secondaryBTNWrap">
            <div style="margin-top: 10px;">
              <a routerLink="/login">{{'forgotPassword.backToLogin'|translate}}</a>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</nb-card-body>
</nb-card>

</nb-layout-column>
</nb-layout>