<div class="containerWrap">
   <div class="successInfo" *ngIf="errorMessage">
      <ngb-alert type="danger" *ngIf="errorMessage" (close)="errorMessage = null">{{errorMessage}}
      </ngb-alert>
   </div>
   <div class="successInfo" *ngIf="responseMessage">
      <ngb-alert type="success" *ngIf="responseMessage" (close)="responseMessage = null">{{responseMessage}}
      </ngb-alert>
   </div>
</div>
<form [formGroup]="currencyConversionForm">
   <ba-card cardTitle="Currency Conversion">
      <div class="row">
         <div class="col-md-6">
            <div class="row form-group required">
               <label class="col-md-4 control-label" for="channel" translate="">{{'currencyConversion.channel' |
                  translate}}</label>
               <div class="col-md-6">
                  <!-- <ngx-select-dropdown [config]="configChannel" [options]="channelNameList" [multiple]="false"
                     [formControl]="currencyConversionForm.controls['channelId']"></ngx-select-dropdown> -->
                  <span
                     *ngIf="(f.channelId.dirty || f.channelId.touched ) && f.channelId.invalid && f.channelId.errors?.required">
                     <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                        translate}}</small>
                  </span>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="row form-group required">
               <label class="col-md-4 control-label" for="type" translate="">{{'currencyConversion.exchangeType' |
                  translate}}</label>
               <div class="col-md-6">
                  <!-- <ngx-select-dropdown [config]="configExchange" [options]="exchangeTypeList" [multiple]="false"
                     [formControl]="currencyConversionForm.controls['exchangeType']"></ngx-select-dropdown> -->
                  <span
                     *ngIf="(f.exchangeType.dirty || f.exchangeType.touched ) && f.exchangeType.invalid && f.exchangeType.errors?.required">
                     <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                        translate}}</small>
                  </span>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="row form-group required">
               <label class="col-md-4 control-label" for="sourceCurrency"
                  translate="">{{'currencyConversion.sourceCurrency' | translate}}</label>
               <div class="col-md-6">
                  <!-- <ngx-select-dropdown [config]="configSource" [options]="sourceCurrencyList" [multiple]="false"
                     [formControl]="currencyConversionForm.controls['sourceCurrency']"></ngx-select-dropdown> -->
                  <span
                     *ngIf="(f.sourceCurrency.dirty || f.sourceCurrency.touched ) && f.sourceCurrency.invalid && f.sourceCurrency.errors?.required">
                     <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                        translate}}</small>
                  </span>
               </div>
            </div>
         </div>
      </div>
      <div class="mainWrap" style="margin-top: 5px;">
         <div class="containerWrap">
            <div class="row">
               <div class="col-md-12 text-center">
                  <button nbButton status="info" type="submit" class="btn btn-primary" (click)="addTargetCurrency()" translate=""
                     [disabled]="disableAdd">{{'currencyConversion.button.addTarget' | translate}}</button>
               </div>
            </div>
         </div>
      </div>
   </ba-card>

   <div class="mainWrap" *ngFor="let control of targetArray.controls;index as i">
      <div class="containerWrap">
         <div class="animated  card" zoom-in>
            <div class="card-body margin1">
               <div class="row">
                  <div class="col-md-3">
                     <div class="row form-group required">
                        <label class="col-md-6 control-label" for="targetCurrency"
                           translate="">{{'currencyConversion.targetCurrency' | translate}}</label>
                        <div class="col-md-6">
                           <ngx-select-dropdown [config]="configTarget" [options]="targetCurrencyList"
                              [multiple]="false" [formControl]="control.controls['currency']"
                              (change)="onChangeTragetCurrency($event,control)"></ngx-select-dropdown>
                           <span
                              *ngIf="(control.controls.currency.dirty || control.controls.currency.touched ) && control.controls.currency.invalid && control.controls.currency.errors?.required">
                              <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                                 translate}}</small>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="row form-group required">
                        <label class="col-md-6 control-label" for="exchangeRate"
                           translate>{{'currencyConversion.exchangeRate' | translate}}</label>
                        <div class="col-md-6">
                           <input  nbInput fullWidth shape="rectangle" type="text" maxlength="50" class="form-control"
                              [formControl]="control.controls['exchangeRate']" appNumberOnly>
                           <span
                              *ngIf="(control.controls.exchangeRate.dirty || control.controls.exchangeRate.touched ) && control.controls.exchangeRate.invalid && control.controls.exchangeRate.errors?.required">
                              <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                                 translate}}</small>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="row form-group required">
                        <label class="col-md-6 control-label" for="exchangeCurrency"
                           translate>{{'currencyConversion.exchangeCurrency' | translate}}</label>
                        <div class="col-md-6">
                           <ngx-select-dropdown [config]="configTarget" [options]="exchangeCurrencyList"
                              [multiple]="false" [formControl]="control.controls['exchangeCurrency']">
                           </ngx-select-dropdown>
                           <span
                              *ngIf="(control.controls.exchangeCurrency.dirty || control.controls.exchangeCurrency.touched ) && control.controls.exchangeCurrency.invalid && control.controls.exchangeCurrency.errors?.required">
                              <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                                 translate}}</small>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="row form-group required">
                        <label class="col-md-6 control-label" for="exchangeCharges"
                           translate>{{'currencyConversion.exchangeCharge' | translate}}</label>
                        <div class="col-md-6">
                           <input  nbInput fullWidth shape="rectangle" type="text" maxlength="50" class="form-control"
                              [formControl]="control.controls['exchangeCharges']" appNumberOnly>
                           <span
                              *ngIf="(control.controls.exchangeCharges.dirty || control.controls.exchangeCharges.touched ) && control.controls.exchangeCharges.invalid && control.controls.exchangeCharges.errors?.required">
                              <small class="form-text error" translate="">{{'currencyConversion.error.required' |
                                 translate}}</small>
                           </span>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="mainWrap" *ngIf="targetArray.length>0">
      <div class="containerWrap">
         <div class="row">
            <div class="col-md-12 text-center">
               <button nbButton status="danger" type="button" class="btn btn-inverse" (click)="reset()"
                  translate="">{{'currencyConversion.button.reset' | translate}}</button>
               <button nbButton status="info" type="submit" class="btn btn-primary" (click)="onSubmit()"
                  translate="">{{'currencyConversion.button.submit' | translate}}</button>
            </div>
         </div>
      </div>
   </div>
</form>
<br>
<ng-container *ngIf="conversionRateData.length>0">
   <ba-card>
      <div class="table-responsive">
         <ngx-table [data]="conversionRateData" [displayedColumns]="displayedColumn"></ngx-table>
        
         <!-- <table class="table table-bordered" [mfData]="conversionRateData" [mfRowsOnPage]="200" #mf="mfDataTable">
            <thead>
               <tr>
                  <th class="text-center" translate="">{{'currencyConversion.table.currency' | translate}}</th>
                  <th class="text-center" translate="">{{'currencyConversion.table.exchangeType' | translate}}</th>
                  <th class="text-center" translate="">{{'currencyConversion.table.exchangeChargeFrom' | translate}}
                  </th>
                  <th class="text-center" translate="">{{'currencyConversion.table.exchangeCurrency' | translate}}</th>
                  <th class="text-center" translate="">{{'currencyConversion.table.exchangeCharge' | translate}}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of mf.data">
                  <td class="text-center align-middle">{{item.toCurrency}}</td>
                  <td class="text-center align-middle">{{item.exchangeType}}</td>
                  <td class="text-center align-middle">{{item.exchangeRateFrom}}</td>
                  <td class="text-center align-middle">{{item.exchangeChargeCurrencyId}}</td>
                  <td class="text-center align-middle">{{item.exchangeCharge}}</td>
               </tr>
            </tbody>
         </table> -->
      </div>
   </ba-card>
</ng-container>