
  
<div class="containerWrap">
  <div class="successInfo" *ngIf="errorMessage">
    <ngb-alert type="danger" *ngIf="errorMessage" (close)="errorMessage = null">{{errorMessage}}
    </ngb-alert>
  </div>
  <div class="successInfo" *ngIf="responseMessage">
    <ngb-alert type="success" *ngIf="responseMessage" (close)="responseMessage = null">{{responseMessage}}
    </ngb-alert>
  </div>
</div>


<form [formGroup]="createRoleForm" autocomplete="new-password">
  <ba-card >
    <div class="row">
      <div class="col-md-6">
        <div class="row form-group required">
          <label class="col-md-4 control-label" for="organizationType" translate="">{{'createRole.orgType' | translate}} </label>
          <div class="col-md-6">
            <input  id="organizationType" class="form-control" formControlName="orgType" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group required">
          <label class="col-md-4 control-label" for="roleName" translate="">{{'createRole.roleName' | translate}} </label>
          <div class="col-md-6">
            <input id="roleName" type="text"  appTrimOnBlur maxlength="50" appCharacterOnly class="form-control" formControlName="roleName"
              autocomplete="new-password">
            <span *ngIf="createRoleForm.controls.roleName.errors?.required && createRoleForm.controls.roleName.touched">
              <small class="form-text error" translate>{{'createRole.roleNameRequired' | translate}}</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </ba-card>
</form>
{{showMenus}}
<ba-card *ngIf="showMenus">
  <form [formGroup]="menuForm">

    <!-- TODO - Change accordion to ngb-accordion  (Full application search)-->
    <!-- <nb-accordion>
      <nb-accordion-item>
       <nb-accordion-item-header>Product Details</nb-accordion-item-header>
       <nb-accordion-item-body>
         Item Content
       </nb-accordion-item-body>
      </nb-accordion-item>
     </nb-accordion> -->

    <ngb-accordion  formArrayName="appArray" activeIds="static-0">
      <ng-container>
        <ngb-panel  *ngFor=" let appType of menuForm.controls.appArray.controls; let i=index; " [formGroupName]="i"
          id="static-{{i}}" title="{{appType.get('appTypeName').value}}">
          <ng-template ngbPanelContent >
            <div formArrayName="moduleArray" id="menuItems">
              <div *ngFor=" let module of  appType.controls.moduleArray.controls; let j=index; let $last = last" [isLast]='$last'(ngInit)="cbGroupColumnCheck()" [formGroupName]="j"
                class="privPanelWrap">
                <div class="privPanelHead">
                  <div class="cbwrap">
                    <label>
                      <input type="checkbox" (change)="changedModule(module,i)" 
                        formControlName="moduleIdSelected">{{module.get('moduleName').value}}
                    </label>
                  </div>
                </div>
                <div class="privPanelBody" formArrayName="menuArray">
                  <div class="cbGroupColumnWrap">
                    <div class="cbGroupColumn"  *ngFor="let menu of module.controls.menuArray.controls; let k=index"
                      [formGroupName]="k">
                      <div class="cbwrap">
                        <label><input type="checkbox"
                            formControlName="menuIdSelected">{{menu.get('menuName').value}}</label>
                        <div class="cbwrap" formArrayName="permissionsArray">
                          <label *ngFor="let permission of menu.controls.permissionsArray.controls; let l=index;" [ngClass]="permission.get('isRequired').value ? 'defaultSelected':''"
                            [formGroupName]="l"><input type="checkbox" [checked]="permission.get('isRequired').value"
                              formControlName="permissionSelected">{{permission.get('permissionName').value}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ng-container>
    </ngb-accordion>
    <div class="row">
        <div class="col-md-12 text-center">
         <button  type="submit" class="btn btn-primary" (click)="createRole()" translate="">{{'createRole.create' | translate}} </button>
        </div>
      </div>
  </form>
  
</ba-card> 