
  
  <div class="containerWrap">
      <div class="successInfo" *ngIf="errorMessage">
        <ngb-alert type="danger" *ngIf="errorMessage" (close)="errorMessage = null">{{errorMessage}}
        </ngb-alert>
      </div>
      <div class="successInfo" *ngIf="responseMessage">
        <ngb-alert type="success" *ngIf="responseMessage" (close)="responseMessage = null">{{responseMessage}}
        </ngb-alert>
      </div>
    </div>

    <form [formGroup]="editRoleForm" autocomplete="new-password">
          <ba-card >
            <div class="row">
              <div class="col-md-6">
                <div class="row form-group required">
                  <label class="col-md-4 control-label" for="organizationType" translate=""> {{'editRole.orgType' | translate}} </label>
                  <div class="col-md-6">
                  <input  id="organizationType" class="form-control" formControlName="orgType" disabled>            
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row form-group required">
                  <label class="col-md-4 control-label" for="role" translate=""> {{'editRole.roleName' | translate}}</label>
                  <div class="col-md-6">
                      <select id="role" class="form-control" formControlName="roleId">
                          <option value="">{{'editRole.selectRole' | translate}}</option>
                          <option [value]="roleType.roleId" *ngFor="let roleType of roleTypeList">{{roleType.roleDisplayName}}
                          </option>
                        </select>
                      <span *ngIf="editRoleForm.controls.roleId.errors?.required && editRoleForm.controls.roleId.touched">
                          <small class="form-text error" translate>{{'editRole.roleNameRequired' | translate}}</small>
                      </span> 
                  </div>
                </div>
              </div>
            </div>
          </ba-card>
        </form>
       
        <ba-card *ngIf="showMenus">
            <form [formGroup]="menuForm">
            <ngb-accordion   formArrayName="appArray" activeIds="static-0">
              <ng-container >
                <ngb-panel *ngFor=" let J of menuForm.controls.appArray.controls; let k=index"  [formGroupName]="k"  id="static-{{k}}" title="{{J.get('appTypeName').value}}"  >
                  <ng-template ngbPanelContent >
                    <div formArrayName="moduleArray">
                    <div  *ngFor=" let X of  J.controls.moduleArray.controls; let i=index; let $last = last" [isLast]='$last'(ngInit)="cbGroupColumnCheck()"  [formGroupName]="i" class="privPanelWrap"> <!-- modules start -- list is available here-->
                      <div class="privPanelHead"  >
                        <div class="cbwrap"><label><input type="checkbox" (change)="changedModule(X,i)" formControlName="moduleIdSelected">{{X.get('moduleName').value}}</label></div>
                      </div>
                      <div class="privPanelBody" formArrayName="menuArray">
                        <div class="cbGroupColumnWrap">
                          <div class="cbGroupColumn" *ngFor="let Y of X.controls.menuArray.controls; let y=index" [formGroupName]="y">
                            <div class="cbwrap" >
                              <label><input type="checkbox"  formControlName="menuIdSelected"  [checked]="Y.get('status').value">{{Y.get('menuName').value}}</label>
                              <div class="cbwrap" formArrayName="permissionsArray" >
                                <label  *ngFor="let Z of Y.controls.permissionsArray.controls; let z=index" [formGroupName]="z" [ngClass]="Z.get('isRequired').value ? 'defaultSelected':''"><input type="checkbox"  [checked]="Z.get('isRequired').value || Z.get('status').value==1"   formControlName="permissionSelected">{{Z.get('permissionName').value}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>
                </ngb-panel>
              </ng-container>
            </ngb-accordion>
            
          </form>
          <div class="row">
              <div class="col-md-12 text-center">
               <button type="submit" class="btn btn-primary" (click)="updateRole()" translate="">{{'editRole.update'|translate}}</button>
              </div>
          </div>
          </ba-card>
        
     